# macOS
.DS_Store

# IntelliJ IDEA
.idea/*
!.idea/dictionaries/
!.idea/scopes/
!.idea/fileColors.xml

# JavaScript
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out